<div class="update-info">
    <div class="d-flex justify-content-between">
        <p class="title"> Cập nhập thông tin </p>
        <button type="button" class="close text-blue" data-dismiss="modal">&times;</button>
    </div>
    <hr />
    <form id="formAddOrEdit">
        @if (ViewBag.data == null)
        {
            <input type="number" name="id" value="0" readonly hidden />
            <div class="row">
                <div class="col-md-5">
                    <p>Tên tòa nhà</p>
                    <input type="text" value="" name="name" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-5">
                    <p>Trạng thái</p>
                    <select class="form-control status" value="0" name="status">
                        <option value="0"> Đang hoạt động </option>
                        <option value="1"> Ngừng  hoạt động </option>
                    </select>
                    <div class="error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <p>Ghi chú</p>
                    <textarea class="form-control w-100" name="node"></textarea>
                    <div class="error"></div>
                </div>
            </div>
            <br />
            <div class="row m-0">
                <button class="btn-update" type="button" onclick="AddOrEdit('formAddOrEdit' , '/Building/AddOrEdit' , '/Building/ListBuilding' , 'get-data')"> Thêm mới </button>
            </div>

        }
        else
        {
            <input type="number" name="id" value="@ViewBag.data.ID" readonly hidden />
            <div class="row">
                <div class="col-md-5">
                    <p>Tên tòa nhà</p>
                    <input type="text" value="@ViewBag.data.Name" name="name" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-5">
                    <p>Trạng thái</p>
                    <select class="form-control status" value="@ViewBag.data.Status" name="status">
                        <option value="0"> Đang hoạt động </option>
                        <option value="1"> Ngừng  hoạt động </option>
                    </select>
                    <div class="error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <p>Ghi chú</p>
                    <textarea class="form-control" name="node">@ViewBag.data.Node </textarea>
                    <div class="error"></div>
                </div>
            </div>
            <br />
            <div class="row m-0">
                <button class="btn-update" type="button" onclick="AddOrEdit('formAddOrEdit' , '/Building/AddOrEdit' , '/Building/ListBuilding' , 'get-data')"> Cập nhập</button>
            </div>
        }

    </form>

</div>


