
@{
    ViewBag.Title = "Index";
}

<div class="user-app">
    <div class="d-flex justify-content-between data-header p-2">
        <h4 class="m-0 mt-1">  Cơ sở vật chất </h4>
        <div class="d-flex justify-content-end">

            <input type="text" name="searchname" value="" placeholder="Nhập tên...." />
            <button href="#demo" data-toggle="collapse" class="btn btn-primary mx-1"> Nâng cao </button>
            <button class="btn btn-success btn-add" data-toggle="modal" data-target="#modalAdd" type="button" onclick="AddClick(0 , '/Resources/FormCreateEdit' , 'add-or-edit')"> Thêm mới</button>
        </div>
    </div>
    <div id="demo" class="collapse">
        <div class="row mx-0 my-2">

            <div class="col-md-2">
                <select class="form-control status" name="status">
                    <option value="-1" selected>Trạng thái(Tất cả)</option>
                    <option value="0"> Đang hoạt động </option>
                    <option value="1"> Ngừng  hoạt động </option>

                </select>
            </div>
            <div class="col-md-2">
                <select name="IDBuildorRoom" class="form-control IDbuildorroom">
                    <option value="0">Tòa nhà(Tất cả)</option>
                    @foreach (var item in ViewBag.listbuild as IEnumerable<SchoolManager.Models.Building>)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="get-data m-2">

    </div>
    <hr />
    <div id="modalAdd" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content border-0 add-or-edit">

            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Resource.js"></script>
    <script>
        var data = {
            pageNumber: 1,
            pageSize: 5,
            search: '',
            searchstatus: -1,
            idbuildorroom: 0
        }
        GetListStudent('/Resources/ListResource', 'get-data');
        Search('/Resources/ListResource', 'get-data');
        Searchstatus('/Resources/ListResource', 'get-data');
        FillerBuild('/Resources/ListResource', 'get-data');
    </script>
}






