
@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="user-app">
        <div class="d-flex justify-content-between data-header p-2">
            <h4 class="m-0 mt-1">  Lớp học </h4>
            <div class="d-flex justify-content-end">
                    <input type="text" name="searchname" value="" placeholder="Nhập từ khóa" />
                    <button href="#demo" class="btn btn-primary mx-1" data-toggle="collapse"> Nâng cao </button>
                    <button class="btn btn-success btn-add" data-toggle="modal" data-target="#modalAdd" type="button" onclick="AddClick(0 , '/Class/FormCreateEdit' , 'add-or-edit')"> Thêm mới</button>
            </div>

        </div>
        <div id="demo" class="collapse">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" name="searchcode" value="" placeholder="Nhập mã lớp...." class="form-control" />
                </div>
                <div class="col-md-4">
                    <select class="form-control subjectID" >
                        <option value="0">Lọc theo môn học</option>
                        @foreach (var item in (ViewBag.listSubject as IEnumerable<SchoolManager.Models.Subject>))
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="get-data m-2">

        </div>
        <hr />
        <div id="modalAdd" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header bg-gradient-green">
                        <h4 class="modal-title text-white"> Cập nhập thông tin</h4>
                        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="add-or-edit">


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-createEdit btn btn-success" onclick="AddOrEdit('formAddOrEdit' , '/Class/AddOrEdit' , '/Class/ListClass' , 'get-data')"> Thêm mới</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
@section scripts{
    <script>
        var data = {
           pageNumber : 1,
            pageSize : 5,
            search : "",
            subjectID : 0,
            searchcode : "",
        }
        GetListStudent('/Class/ListClass', 'get-data');
        Search('/Class/ListClass', 'get-data');
        Searchcode('/Class/ListClass', 'get-data');
        FillterBySubject('/Class/ListClass', 'get-data');
    </script>
}










@*@{
    ViewBag.Title = "Index";
}

<div class=" container">
    <h1> Quản lý lớp học </h1>
    <br />
    <div class="row">
        <div class="col-md-4">
            <label>Nhập tên lớp:</label>
            <input type="text" name="searchname" value="" placeholder="Nhập từ khóa..." class="form-control" />
        </div>
        
    </div>

    <hr />
    <div class="list-class">

    </div>
    <hr />
    <div class="form-add-edit">
        @Html.Action("FormCreateEdit", "Class")
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Class.js"></script>*@
}