
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Quên mật khẩu </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <br />
    <br />
    <div class="login-form">
        <p class="title"> Xác nhận Email </p>
        <p class="text-danger my-3"><i class="fas fa-exclamation-triangle mr-2"></i> : Nếu đúng là bạn , hệ thống sẽ gửi một email thông báo , hãy kiểm tra mail và xác nhận đó là bạn!</p>
        <div class="row m-0">
            <div class="col-md-12 p-0">
                <div class="box-input">
                    <p>  Email của bạn  </p>
                    <input type="text" placeholder="email" name="email" value="" id="email" />
                    <div class="error">

                    </div>
                </div>
                <br />
            </div>
            <br />
            <button class="btn-getEmail spinner" type="button"> Xác nhận </button>
            <p class="d-flex m-0 mt-4 justify-content-start"> <a href="/UserManager/Login">Quay về trang đăng nhập?</a> </p>
        </div>
        <br />

    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <script>
        $('.btn-getEmail').click(function () {
            var email = $('input[name="email"]').val();
            CheckEmail(email);  
        })
        function CheckEmail(email) {
            $.ajax({
                url: '/UserApp/GetEmail',
                type: 'POST',
                dataType: 'json',
                data: {
                    email: email
                },
                beforeSend: function () {
                    $('.spinner').html('<div class="spinner-border text-light"></div>'); 
                },
                success: function (res) {
                    $('.spinner').html(''); 
                    if (!res) {
                        $('.error').html('');
                        var row = `<p> Email không tồn tại </p>`;
                        $('.error').append(row);
                        $('.spinner').text(' Xác nhận'); 

                    } else {
                        $('.error').html('');
            
                        var row = `<a href="https://accounts.google.com/" class="text-white"> Đi đến Gmail</a>`;

                        $('.spinner').css({
                            'width': 'auto', 
                            'height' : 'auto'
                        })
                        $('.spinner').append(row); 
                    }
                },
                error: function () {

                }
            })
        }
    </script>
</body>
</html>
