
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="user-app">
    <div class="d-flex justify-content-between data-header p-2">
        <h4 class="m-0 mt-1"> Người dùng</h4>
        <div class="d-flex justify-content-end">
            <input type="text" name="searchname" value="" placeholder="Nhập từ khóa" />
            <button class="btn btn-primary mx-1"> Nâng cao </button>
            <button class="btn btn-success btn-add" data-toggle="modal" data-target="#modalAdd" type="button" onclick="AddClick(0 , '/UserApp/GetFromUpdate' , 'add-or-edit')"> Thêm mới</button>
        </div>
    </div>
    <div class="get-data m-2">

    </div>
    <hr />
    <div id="modalAdd" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content border-0 add-or-edit">
                <div class="modal-header bg-gradient-green">
                    <h4 class="modal-title text-white"> Cập nhập thông tin</h4>
                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="">


                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn-createEdit btn btn-success" onclick="AddOrEdit('formAddOrEdit' , '/UserApp/AddOrEdit' , '/UserApp/ListUser' , 'get-data')"> Thêm mới</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"> Đóng </button>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script>
        var data = {
            pageNumber: 1,  
            pageSize: 10, 
            search: ''
        }
        GetListStudent('/UserApp/ListUser', 'get-data');
        Search('/UserApp/ListUser', 'get-data');
    </script>
}




